<header class="flex justify-between items-center">
    <div class="logo">
        <a href="/" class="text-3xl font-bold">Exam Generator</a>
    </div>
    <nav class="flex items-center space-x-4">
        <% if (!locals.user) { %>
            <a href="/login" class="text-gray-700 hover:text-gray-900">LogIn</a>
            <a href="/signup" class="text-gray-700 hover:text-gray-900">SignUp</a> 
        <% } %>
        <% if (locals.user) { %>
            <a href="/logout" class="text-gray-700 hover:text-gray-900">LogOut</a>
        <% } %>
    </nav>
</header>
